
html, body {
	min-height: 100%;
	height: 100%;
	width: 100vw;
	max-width: 100vw;
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    overflow-x: hidden;
	color: var(--fontColor);
    font-family: var(--font);
    background: var(--colorBackground);
    font-size: var(--fontBaseSize);
}

* {
	box-sizing: border-box;
}

a {
	color: var(--colorLink);
	transition: color .2s ease;

	&:hover {
		color: var(--colorLinkHover);
	}
}

.clear {
	&:before {
	    content: "";
	    display: table;
	}

	&:after {
  		content: "";
		display: table;
		clear: both;
	}
}