// for each page/route view

.page {
    flex: 1;
    @include flex-col;
    width: 100%;
	max-width: 100%;
	padding: var(--defaultPagePaddingTop) var(--defaultPagePadding) var(--defaultPagePadding);

	h1 {
		padding: calc(var(--defaultItemPadding)*2) 0 0 calc(var(--defaultItemPadding)*2);
		font-size: 2em;
		font-weight: bold;
		text-shadow: 1px 1px 3px #000;
		color: #ACE398;
		font-family: var(--fontBold);
	}

	h2 {
		color: #fff;
		font-family: var(--fontBold);
	}
}

@include small-desktop {
	.page {
		h1 {
			padding: calc(var(--defaultItemPadding)*2) 0 0 0;
			width: 100%;
			text-align: center;
		}
	}
}


@include mobile {
	.page {
		max-width: 100%;
	}
}