@import 'app/styles/mixins.scss';

#home {
    $animSpeed: .5s;
    
    @include flex-col;
    position: relative;
    flex: 1;
    align-items: flex-start;
    transition: opacity $animSpeed ease-in-out;
    
    &.page-loaded {
        opacity: 1 !important;
        transition: opacity $animSpeed ease-in-out;
    }
    
    .container {
        @include flex-col;
        position: relative;
    }
    
}